<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.golderform">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GolderForm"
        tools:targetApi="31">
        <activity
            android:name=".ConsolidatedDetails"
            android:exported="false" />
        <activity
            android:name=".DeliveryDetails"
            android:exported="false" />
        <activity
            android:name=".StockDetails"
            android:exported="false" />
        <activity
            android:name=".AllaiRunningDetails"
            android:exported="false" />
        <activity
            android:name=".OtherDetails"
            android:exported="false" />
        <activity
            android:name=".MattaiDetails"
            android:exported="false" />
        <activity
            android:name=".NattuSakkaraiDetails"
            android:exported="false" />
        <activity
            android:name=".AskaSugarDetails"
            android:exported="false" />
        <activity
            android:name=".SugarcaneDetails"
            android:exported="false" />
        <activity
            android:name=".AdminActicity"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.GolderForm.NoActionBar" />
        <activity
            android:name=".Verification"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>